**Load the CSV into a DataFrame**

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')

print(df.to_string())

**Load the JSON file into a DataFrame**

In [ ]:
import pandas as pd

df = pd.read_json('data.json')

print(df.to_string())

**printing the first 10 rows of the DataFrame**

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')

print(df.head(10))

**Print the last 5 rows of the DataFrame**

In [ ]:
print(df.tail())

**Print information about the data**

In [ ]:
print(df.info())

**Return a new Data Frame with no empty cells**

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')

new_df = df.dropna()

print(new_df.to_string())

**Remove all rows with NULL values**

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')

df.dropna(inplace = True)

print(df.to_string())

**Replace NULL values with the number 130**

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')

df.fillna(130, inplace = True)
print(df.to_string())

**Replace NULL values in the "Calories" columns with the number 130**

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')

df["Calories"].fillna(130, inplace = True)
print(df.to_string())

**Calculate the MEAN, and replace any empty values with it**

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')

x = df["Calories"].mean()

df["Calories"].fillna(x, inplace = True)
print(df.to_string())

**Calculate the MEDIAN, and replace any empty values with it**

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')

x = df["Calories"].median()

df["Calories"].fillna(x, inplace = True)
print(df.to_string())

**Calculate the MODE, and replace any empty values with it**

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')

x = df["Calories"].mode()[0]

df["Calories"].fillna(x, inplace = True)
print(df.to_string())